<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://js.sentry-cdn.com/2becbe2880ce41ed8198fd63c2cd490f.min.js"
      crossorigin="anonymous"
      data-lazy="no"
    ></script>
    <script>
      Sentry.onLoad(function () {
        Sentry.init({
          environment: '<%= debug %>' === 'true' ? 'development' : 'production',
          tracesSampleRate: 1.0,
          attachStacktrace: true,
          release: '<%= release %>',
          enabled: '<%= debug %>' !== 'true',
        });
      });
    </script>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/<%=
      require('../../src/icons/square-flag.svg')
      %>"
    />
    <link rel="apple-touch-icon" href="/<%=
    require('../../src/icons/apple-touch-icon.png')
    %>" 
    />
  </head>
  <body style="margin: 0">
    <div id="app" />
  </body>
</html>
