<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" 
      content="Home automation and collaborative family household management"/>
    <meta name="theme-color" content="#FFFFFF">
    <script
      src="https://js.sentry-cdn.com/2becbe2880ce41ed8198fd63c2cd490f.min.js"
      crossorigin="anonymous"
      data-lazy="no"
    ></script>
    <script>
      Sentry.onLoad(function () {
        Sentry.init({
          environment: '<%= debug ? "development" : "production" %>',
          tracesSampleRate: 1.0,
          attachStacktrace: true,
          release: '<%= release %>',
          enabled: <%= debug == false %>,
        });
      });
    </script>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/<%=
      require('../icons/square-flag.svg')
      %>"
    />
    <link rel="apple-touch-icon" href="/<%=
    require('../icons/apple-touch-icon.png')
    %>" 
    />
  </head>
  <body style="margin: 0">
    <div id="app" />
  </body>
</html>